<%- include('./templates/header')  %> 
<!-- metemos el header -->
<main class="container">
    <h1 class="text-center mb-5">PRODUCTOS</h1>
</main>
<%- include('./templates/footer')  %> 
<!-- metemos el footer -->